.header {
  padding: 0 20px;
}

.header > div {
  max-width: var(--mxw);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header > div img {
  filter: var(--image-filter);
  transition: var(--transition);
}

.switch-mode {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch-mode__icon {
  font-size: 33px;
  display: flex;
  color: var(--text-color-one);
  transition: var(--transition);
}