.title {
  font-size: 30px;
  font-weight: var(--fw-extrabold);
  color: var(--c-title-section);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  transition: var(--transition);
}

.title span {
  background-color: var(--bg-title);
  font-size: 10px;
  font-weight: var(--fw-bold);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text-color-one-invert);
  transition: var(--transition);
}