.project {
  text-align: center;

  /* Animación de entrada experimental */
  view-timeline-name: --skill;
  view-timeline-axis: block;
  animation-timeline: --skill;
  animation-name: fadeInUp;
  animation-range: entry 20% cover 30%;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 768px) {
  .project {
    text-align: left;
    display: flex;
    grid-template-columns: 400px 1fr;
    gap: 40px;
    align-items: center;
    transition: var(--transition);
  }
}

.project img {
  width: 100%;
  height: auto;
  max-height: 250px;
  max-width: 400px;
  flex-shrink: 0;
}

.project__info h3 {
  font-size: 25px;
  font-weight: var(--fw-extrabold);
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  color: var(--c-subtitle-section);
  transition: var(--transition);
}

@media (min-width: 768px) {
  .project__info h3 {
    flex-direction: row;
  }
}

.project__info h3 span {
  font-weight: var(--fw-semibold);
  font-size: 8px;
  padding: 3px 10px;
  background-color: var(--c-blue-100);
  border-radius: var(--br);
  color: var(--c-light-primary);
}

.project__info p {
  font-size: 18px;
  color: var(--text-color-two);
  font-weight: var(--fw-regular);
  margin-top: 10px;
  transition: var(--transition);
}

.project__info__skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .project__info__skills {
    justify-content: flex-start;
  }
}

.project__info__skills span {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--c-purple);
  border-radius: var(--br);
  font-weight: var(--fw-medium);
  color: var(--c-light-primary);
}

.project__info__button {
  margin-top: 20px;
  color: var(--c-blue-400);
}

.project__info__button a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: underline;
  color: var(--text-color-one);
  transition: var(--transition);
}

.project__info__button a svg {
  font-size: 10px;
}

.project__right {
  flex-direction: row-reverse;
}