.hero {
  padding: 0 20px;
}

.hero__container {
  max-width: var(--mxw);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 60px 0;
  flex-direction: column-reverse;
  gap: 40px;
}

@media(min-width: 768px) {
  .hero__container {
    flex-direction: row;
  }
}

.hero__container--info {
  text-align: center;

  animation-name: fadeInLeft;
  animation-duration: .5s;
  animation-fill-mode: both;
}

.hero__container--info--name {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--c-blue-200);
  gap: 10px;
  border-radius: var(--br);
}

.hero__container--info--name h1 {
  font-size: 16px;
  font-weight: var(--fw-semibold);
  color: var(--c-light-primary);
}

.hero__container--info--title {
  margin-top: 20px;
  max-width: 640px;
}

.hero__container--info--title h4 {
  font-weight: var(--fw-light);
  color: var(--c-blue-400);
  font-size: 16px;
}

.hero__container--info--title h2 {
  color: var(--c-blue-300);
  font-size: 24px;
  font-weight: var(--fw-semibold);
}

.hero__container--info--title h2 span:nth-child(1) {
  color: var(--c-blue-400);
  font-weight: var(--fw-extrabold);
}

.hero__container--info--title h2 span:nth-child(2) {
  color: var(--c-purple);
  font-weight: var(--fw-extrabold);
}

@media(min-width: 500px) {
  .hero__container--info--title h4 {
    font-size: 20px;
  }

  .hero__container--info--title h2 {
    font-size: 27px;
  }
}

@media(min-width: 768px) {
  .hero__container--info {
    text-align: left;
  }
}

.hero__container--info--description {
  margin-top: 20px;
}

.hero__container--info--description p {
  color: var(--c-blue-400);
  font-size: 14px;
  font-weight: var(--fw-bold);
  margin: 0 auto 15px auto;
  max-width: 540px;
}

@media(min-width: 768px) {
  .hero__container--info--description p {
    margin: 0 0 15px 0;
  }
}

.hero__container--image {
  animation-name: fadeInRight;
  animation-duration: .5s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}