.skills {
  background-color: var(--c-light-secondary);
  padding: 60px 20px;
  margin-top: -9px;
  clip-path: polygon(0 20px, 100% 0, 100% 100%, 0 calc(100% - 20px));
}

.skills__container {
  max-width: var(--mxw);
  margin: 0 auto;
}