:root {
  --c-light-primary: #FFFFFF;
  --c-light-secondary: #F0F0F0;
  --c-blue-100: #4977FF;
  --c-blue-200: #3555B5;
  --c-blue-300: #19264B;
  --c-blue-400: #121B36;
  --c-dark: #231F20;
  --c-purple: #9747FF;
  --c-yellow-100: #FFDE7B;
  --c-yellow-200: #FFC107;

  --bg-light-primary: var(--c-light-primary);
  --bg-light-secondary: var(--c-light-secondary);
  --bg-dark-primary: var(--c-blue-300);
  --bg-dark-secondary: var(--c-blue-400);

  --mxw: 1100px;
  --br: 20px;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  --w-tablet: 768px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-light-primary);
}

img {
  max-width: 100%;
}