.footer {
  padding: 0 20px;
  background-color: var(--c-light-primary);
}

.footer__container {
  max-width: var(--mxw);
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer__text p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: var(--fw-medium);
}