.projects {
  padding: 0 20px;
  background-color: var(--bg-secondary);
  clip-path: polygon(0 20px, 100% 0, 100% 100%, 0 100%);
  transition: var(--transition);
}

.projects__container {
  max-width: var(--mxw);
  margin: 0 auto;
  padding: 60px 0;
}

.projects__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

@media screen and (min-width: 768px) {
  .projects__list {
    gap: 40px;
  }
}